<p style="text-align: center;"><%= params[:id].upcase %> TRAIN INFORMATION</p>

<table style="width:95%">
  <tr>
    <th>CARRIER</th>
    <th>TIME</th>
    <th>DESTINATION</th>
    <th>TRAIN#</th>
    <th>TRACK#</th>
    <th>STATUS</th>
  </tr>
  <%= render partial: "departure", collection: @departure_board, as: :departure %>
</table>
<br/>
<%= link_to 'Back to Departure Boards List', departure_boards_path %>
