
<div class="content_wrapper">
  <div class="departure_board">
    <h1 class="heading"><%= params[:id].upcase %> TRAIN INFORMATION</h1>

    <table>
      <tr class="subheading">
        <th class="carrier">CARRIER</th>
        <th>TIME</th>
        <th class="destination">DESTINATION</th>
        <th>TRAIN#</th>
        <th>TRACK#</th>
        <th>STATUS</th>
      </tr>
      <%= render partial: "departure", collection: @departure_board, as: :departure %>
    </table>
  </div>

  <div class="backlink">
    <%= link_to 'Back to Departure Boards List', departure_boards_path %>
  </div>
</div>
