
<div class="content_wrapper">
  <div class="departure_board">
    <h1 class="heading"><%= params[:id].upcase %> TRAIN INFORMATION</h1>

    <table>
      <thead>
        <col class="tbl-col">
        <col class="tbl-col">
        <col class="tbl-col-dest">
        <col class="tbl-col">
        <col class="tbl-col">
        <col class="tbl-col">
        <col class="tbl-col">

      </thead>
      <tr class="subheading">
        <th>CARRIER</th>
        <th>TIME</th>
        <th>DESTINATION</th>
        <th>TRAIN#</th>
        <th>TRACK#</th>
        <th>STATUS</th>
      </tr>
      <%= render partial: "departure", collection: sort_limit(@departure_board), as: :departure %>
    </table>
  </div>

  <div class="backlink">
    <%= link_to 'Back to Departure Boards List', departure_boards_path %>
  </div>
</div>
