<!DOCTYPE html>
<html>
  <head>
    <title>DepartureBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!--*** TODO: Move this CSS into a stylesheet ***-->
    <style>
      .content_wrapper {
        width: 900px;
        margin: auto;
        text-align: left
      }

      .departure_boards {
        font-family: "Arial";
      }

      .departure_board table {
        margin: 18px;
      }

      .departure_board th {
        width: 13%;
      }

      .departure_board {
        padding: 12px;
        background-color: black;
      }

      .backlink {
        margin-top: 18px
      }

      .heading {
        color: #9c9c9c;
        text-align: center;
        font-family: "Courier New";
        font-size: 1.4em;
      }

      .subheading {
        color: #9c9c9c;
        font-family: "Arial";
      }

      .text {
        color: #fffe90;
        font-family: "Courier New";
        font-size: 1.1em;
        font-weight: bold;
      }

      .statustext {
        color: #e0ff99;
        font-family: "Courier New";
        font-weight: bold;
      }

      .scheduled_time {
        padding-right: 16px;
      }

      .destination {
        width: 38%;
      }

      .leftalign {
        text-align: left;
      }

      .rightalign {
        text-align: right;
      }

    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
